# example
DB_HOST=db
DB_USER=root
DB_PASSWORD=tnfqkrtm
DB_NAME=luna_diary
SESSION_SECRET=your_secret_key
CLIENT_ID=po27e2eh8m
CLIENT_SECRET=YnECVYs35gEi66OWNKaEbnwhLYnoClamgtzQoe8j

DB_HOST: Database host
DB_USER: Database user
DB_PASSWORD: Database password
DB_NAME: Database name

SESSION_SECRET: Session secret key
CLIENT_ID: Naver Cloud client ID
CLIENT_SECRET: Naver Cloud client secret